.App {
  text-align: center;
}

.list {
  width: 80%;
  margin: 10px auto;
  text-align: left;
  border-spacing: 0
}
.list td, .list th {
  border: 1px solid black;
  padding: 10px 10px;
}

.paginator {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
}

.paginator button {
  margin: 10px 10px;
}

.detail {
  width: 80%;
  margin: 10px auto;
  text-align: left;
}
.detail .label {
  margin-right: 20px;
}
.film-list li {
  margin: 10px 10px
}

